.AboutSection {
	padding-top: 50px;
	max-width: 80%;
	margin: 0 auto;
	@media screen and (max-width: 1544px) {
		padding-top: 30px;
	}
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 100px;
	@media screen and (max-width: 980px) {
		flex-direction: column;
	}
}
.blockItem {
	margin-top: 50px;
}

.titleItem,
.textItem {
	margin: 0 auto;
	width: 80%;
	font-size: 20px;
	@media screen and (max-width: 550px) {
		width: 100%;
	}
}
.titleItem {
	margin-bottom: 20px;
}
.textItem {
	line-height: 30px;
	font-weight: 300;
	padding-bottom: 30px;
	@media screen and (max-width: 550px) {
		font-size: 16px;
	}
}
.left {
	max-width: 300px;
	.title {
		font-size: 40px;
		font-weight: 500;
		margin-bottom: 30px;
		@media screen and (max-width: 550px) {
			font-size: 25px;
		}
	}
	@media screen and (max-width: 980px) {
		margin-bottom: 20px;
	}

	.address {
		line-height: 30px;
		font-weight: 500;
	}
}

.right {
	max-width: 400px;

	.description {
		line-height: 30px;
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 20px;
		@media screen and (max-width: 550px) {
		font-size: 18px;
	}
	}
	
}
