.Navbar {
	padding: 10px 20px;
	height: var(--header-height);
	background-color: var(--black);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.left {
	display: flex;
	align-items: center;
	gap: 0 30px;
}

.right {
	display: flex;
	align-items: center;
	gap: 0 30px;
}

.link, 
.mapLink {
	display: block;
	text-decoration: none;
	color: var(--white);
	font-weight: 700;
}

.link:hover {
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}

.link:visited {
	color: var(--white);
}

.address {
	color: var(--white);
	max-width: 200px;
	text-align: right;
	font-size: 14px;
}

.mapLink {
	font-weight: 300;
}

.navBtn {
	border: 1px solid var(--white);
	border-radius: 5px;
	padding: 7px 15px;
	background-color: transparent;
	color: var(--white);
	cursor: pointer;
}

.navBtn:hover,
.mapLink:hover {
	opacity: 0.8;
	transition: 0.3s;
}

@media screen and (max-width: 910px) {
	.left {
		display: none;
	}
	.wrapper {
		justify-content: end;
	}
}
