.ReviewCard {
    padding: 20px;
    background-color: rgb(80, 39, 39);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px 0;
    border-radius: 7px;
    margin-bottom: 10px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 58%, rgba(142,22,4,1) 140%);
    @media screen and (max-width: 850px) {
        margin: 0 60px;
    }
    @media screen and (max-width: 700px) {
        margin: 0;
    }
    
}
.quotes {
    fill: rgb(172, 146, 146);
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 382px;
    @media screen and (max-width: 550px) {
        font-size: 14px;
    }
}
.avatar {
    fill: rgb(232, 232, 232);
    border: 4px solid rgb(231, 203, 175);
    border-radius: 50%;
}
.name {
    font-weight: 500;
}
.stars {
    display: flex;
    gap: 0 5px;
}

.star {
    fill: var(--star);
}