.Rooms {
	margin: 0 auto;
	max-width: 80%;
    @media screen and (max-width: 550px) {
        max-width: 100%;
    }
}

.roomWrapper {
	background-color: #f6f4f1;
}

.titleWrapper {
    margin-bottom: 50px;
    @media screen and (max-width: 550px) {
        max-width: 100%;
        padding: 0 20px;
    }
}

.title {
    margin-bottom: 30px;
    padding-top: 70px;
    font-size: 40px;
    font-weight: 500;
    @media screen and (max-width: 550px) {
        font-size: 25px;
    }
}

.description {
    max-width: 600px;
    font-size: 20px;
    font-weight: 300;
    @media screen and (max-width: 550px) {
        font-size: 16px;
    }
}
