* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', 'Arial', sans-serif;
}

input,
button,
textarea,
select {
	margin: 0;
	font: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

:root {
	--white: #d9e7f2;
	--black: #090f15;
	--blue: #4c7fb2;
	--green: #576558;
	--gray: #494e4a;
	--star: #ffb703;

	--header-height: 70px;
}

.swiper {
	margin-bottom: 50px;
}
