.Rooms {
	padding-bottom: 50px;
	margin: 0 auto;
	max-width: 75%;
}

.roomWrapper {
	background-color: #f6f4f1;
}

.titleWrapper {
    margin-bottom: 50px;
}

.title {
    margin-bottom: 30px;
    padding-top: 70px;
    font-size: 40px;
    font-weight: 500;
}

.description {
    max-width: 600px;
    font-size: 20px;
    font-weight: 300;
}
