.ReviewSection {
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
	@media screen and (max-width: 550px) {
		width: 100%;
	}
}

.title,
.recomendTitle {
	text-align: center;
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 30px;
	@media screen and (max-width: 550px) {
		font-size: 25px;
	}
}
.recomendTitle {
	@media screen and (max-width: 550px) {
		font-size: 20px;
		margin-bottom: 15px;
	}
}
.sample-slider [class^='swiper-button-']::after {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: black;
}
.sample-slider {
	padding: 0 47px;
	margin: 0 auto;
	@media screen and (max-width: 550px) {
		padding: 0 35px;
	}
}
.reviewWrapper {
	display: flex;
	align-items: center;
	gap: 0 20px;
}
.recomendation {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sutochno:hover {
	animation: 0.8s linear 0.7s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
